<div class="setup-panel">
  <h3>
    {{'page.dartScoreBoard.setup.title' | translate}}
  </h3>

  <div class="col-sm-6 no-padding">
    <div class="radio-button-group">
      <h4>
        {{'page.dartScoreBoard.setup.gameMode' | translate}}
      </h4>
      <div *ngFor="let gameMode of getGameModes()">
        <input type="radio" [value]="gameMode" name="gameMode" [(ngModel)]="gameSettings.gameMode"> {{'page.dartScoreBoard.setup.gameMode.' + getGameModeValue(gameMode) | translate}}
      </div>
    </div>
  </div>

  <div class="col-sm-6 no-padding">
    <div class="radio-button-group">
      <h4>
        {{'page.dartScoreBoard.setup.requiredSets' | translate}}
      </h4>
      <div class="width-100" (click)="isCustomizedRequiredSets = false; setRequiredSets(1)">
        <input type="radio" [value]="1" name="requiredSets" [ngModel]="getConvertedRequiredSets()"> {{'page.dartScoreBoard.setup.requiredSets.freeGame' | translate}}
      </div>
      <ng-container *ngFor="let i of [11,9,7,5,3]">
        <div class="width-100" (click)="isCustomizedRequiredSets = false; setRequiredSets(i)">
          <input type="radio" [value]="i" name="requiredSets" [ngModel]="getConvertedRequiredSets()"> {{'page.dartScoreBoard.setup.requiredSets.intro' | translate}} {{i}}
        </div>
      </ng-container>
      <div class="width-100" (click)="isCustomizedRequiredSets = true">
        <input type="radio" [value]="true" name="requiredSets" [(ngModel)]="isCustomizedRequiredSets"> {{'page.dartScoreBoard.setup.settings.customized' | translate}}
        <input *ngIf="isCustomizedRequiredSets" class="custom-input" type="number" name="requiredSetsInput" [(ngModel)]="gameSettings.requiredSets" [min]="1">
      </div>
    </div>
  </div>

  <div class="col-sm-6 no-padding">
    <div class="radio-button-group">
      <h4>
        {{'page.dartScoreBoard.setup.requiredLegs' | translate}}
      </h4>
      <div class="width-100" (click)="isCustomizedRequiredLegs = false; setRequiredLegs(1)">
        <input type="radio" [value]="1" name="requiredLegs" [ngModel]="getConvertedRequiredLegs()"> {{'page.dartScoreBoard.setup.requiredLegs.freeGame' | translate}}
      </div>
      <ng-container *ngFor="let i of [8,7,6,5,4,3]">
        <div class="width-100" (click)="isCustomizedRequiredLegs = false; setRequiredLegs(i)">
          <input type="radio" [value]="i" name="requiredLegs" [ngModel]="getConvertedRequiredLegs()"> {{'page.dartScoreBoard.setup.requiredLegs.intro' | translate}} {{i}}
        </div>
      </ng-container>
      <div class="width-100" (click)="isCustomizedRequiredLegs = true">
        <input type="radio" [value]="true" name="requiredLegs" [(ngModel)]="isCustomizedRequiredLegs"> {{'page.dartScoreBoard.setup.settings.customized' | translate}}
        <input *ngIf="isCustomizedRequiredLegs" class="custom-input" type="number" name="requiredLegsInput" [(ngModel)]="gameSettings.requiredLegs" [min]="1">
      </div>
      <div *ngIf="gameSettings.requiredLegs > 1" class="minimal-advantage">
        {{'page.dartScoreBoard.setup.requiredLegs.minimal' | translate}} <input class="custom-input" type="number" name="requiredLegsAdvatageInput" [(ngModel)]="gameSettings.requiredLegAdvantage" [min]="0">
      </div>
    </div>
  </div>

  <div class="col-sm-6 no-padding">
    <div class="radio-button-group">
      <h4>
        {{'page.dartScoreBoard.setup.requiredScore' | translate}}
      </h4>
      <div class="width-100" (click)="isCustomizedRequiredScore = false; setRequiredScore(901)">
        <input type="radio" [value]="901" name="requiredScore" [ngModel]="getConvertedRequiredScore()"> 901
      </div>
      <div class="width-100" (click)="isCustomizedRequiredScore = false; setRequiredScore(701)">
        <input type="radio" [value]="701" name="requiredScore" [ngModel]="getConvertedRequiredScore()"> 701
      </div>
      <div class="width-100" (click)="isCustomizedRequiredScore = false; setRequiredScore(501)">
        <input type="radio" [value]="501" name="requiredScore" [ngModel]="getConvertedRequiredScore()"> 501
      </div>
      <div class="width-100" (click)="isCustomizedRequiredScore = false; setRequiredScore(301)">
        <input type="radio" [value]="301" name="requiredScore" [ngModel]="getConvertedRequiredScore()"> 301
      </div>
      <div class="width-100" (click)="isCustomizedRequiredScore = true;">
        <input type="radio" [value]="true" name="requiredScore" [(ngModel)]="isCustomizedRequiredScore"> {{'page.dartScoreBoard.setup.settings.customized' | translate}}
        <input *ngIf="isCustomizedRequiredScore" class="custom-input" type="number" name="requiredScoreInput" [(ngModel)]="gameSettings.requiredScore" [min]="101">
      </div>
    </div>
  </div>
</div>
