<h3>
  {{'page.dartScoreBoard.setup.title' | translate}}
</h3>
<div class="setup-panel">
  <div class="game-running-container width-100" *ngIf="gameSettings.isGameActive">
    <div class="width-100 game-running-hint no-margin-bottom" *ngIf="!showGameCancelWarning">
      <div class="message-container alert-warning">
        {{'page.dartScoreBoard.setup.gameInProgress.hint' | translate}}
        <button class="btn btn-danger warning-button-styling" (click)="showGameCancelWarning = true">
          {{'page.dartScoreBoard.setup.gameInProgress.cancelQuestion' | translate}}
        </button>
      </div>
    </div>

    <div class="width-100 game-cancel-question alert alert-danger no-margin-bottom" *ngIf="showGameCancelWarning">
      <div class="message-container alert-danger">
        {{'page.dartScoreBoard.setup.cancelGame.hint' | translate}}
        <button class="btn btn-success warning-button-styling" (click)="showGameCancelWarning = false;">
          {{'page.dartScoreBoard.setup.cancelGame.cancel' | translate}}
        </button>
        <button class="btn btn-danger warning-button-styling" (click)="cancelGame()">
          {{'page.dartScoreBoard.setup.cancelGame.confirm' | translate}}
        </button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="col-sm-6 no-padding">
    <div class="config-group radio-button-group">
      <h4>
        {{'page.dartScoreBoard.setup.gameMode' | translate}}
      </h4>
      <div *ngFor="let gameMode of getGameModes()">
        <div class="width-100" (click)="setGameMode(gameMode)">
          <input type="radio" [value]="gameMode" name="gameMode" [(ngModel)]="gameSettings.gameMode">
          {{'page.dartScoreBoard.setup.gameMode.' + getGameModeValue(gameMode) | translate}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 no-padding">
    <div class="config-group radio-button-group">
      <h4>
        {{'page.dartScoreBoard.setup.requiredScore' | translate}}
      </h4>

      <div class="width-100" (click)="isCustomizedRequiredScore = false; setRequiredScore(901)">
        <input type="radio" [value]="901" name="requiredScore" [ngModel]="getConvertedRequiredScore()"> 901
      </div>
      <div class="width-100" (click)="isCustomizedRequiredScore = false; setRequiredScore(701)">
        <input type="radio" [value]="701" name="requiredScore" [ngModel]="getConvertedRequiredScore()"> 701
      </div>
      <div class="width-100" (click)="isCustomizedRequiredScore = false; setRequiredScore(501)">
        <input type="radio" [value]="501" name="requiredScore" [ngModel]="getConvertedRequiredScore()"> 501
      </div>
      <div class="width-100" (click)="isCustomizedRequiredScore = false; setRequiredScore(301)">
        <input type="radio" [value]="301" name="requiredScore" [ngModel]="getConvertedRequiredScore()"> 301
      </div>
      <div class="width-100" (click)="isCustomizedRequiredScore = true;">
        <input type="radio" [value]="true" name="requiredScore" [(ngModel)]="isCustomizedRequiredScore">
        {{'page.dartScoreBoard.setup.settings.customized' | translate}}
        <input *ngIf="isCustomizedRequiredScore" class="custom-input" type="number" name="requiredScoreInput"
               [(ngModel)]="gameSettings.requiredScore" [min]="101">
      </div>
    </div>
  </div>

  <div class="col-sm-12 no-padding">
    <div class="config-group">
      <h4>
        {{'page.dartScoreBoard.setup.configure.players' | translate}}
      </h4>
      <hr>
      <h5>
        {{'page.dartScoreBoard.setup.player.add.title' | translate}}
      </h5>
      <input class="player-input" type="text" [(ngModel)]="newPlayerName"
             placeholder="{{'page.dartScoreBoard.setup.player.add.placeholder' | translate}}">
      <button class="btn btn-primary add-player-button" [disabled]="!newPlayerName || newPlayerName.trim() === '' || doesPlayerExists()"
              (click)="addNewPlayer()">{{'page.dartScoreBoard.setup.player.add' | translate}}
      </button>
      <p class="alert alert-warning no-margin-bottom" *ngIf="doesPlayerExists()">
        {{'page.dartScoreBoard.setup.playerExists.hint' | translate}}
      </p>
      <div class="clearfix"></div>
      <hr>
      <h5>
        {{'page.dartScoreBoard.setup.player.order.title' | translate}}
      </h5>
      <div cdkDropList *ngIf="gameSettings.players && gameSettings.players.length > 0; else showNoPlayersHint" class="example-list" (cdkDropListDropped)="drop($event)">
        <button class="btn btn-primary player-display" *ngFor="let player of gameSettings.players" cdkDrag>
          <img class="drag-and-drop-icon" (click)="removePlayer(player)" src="/assets/pictures/dart-score-board/drag-and-drop.svg">{{player}}<img class="delete-icon" (click)="removePlayer(player)" src="/assets/pictures/dart-score-board/trashbin.svg">
        </button>
      </div>

      <ng-template #showNoPlayersHint>
        <div class="width-100 alert alert-danger no-margin-bottom">
          {{'page.dartScoreBoard.setup.players.notFound' | translate}}
        </div>
      </ng-template>
    </div>
  </div>
  <div class="col-sm-12 no-padding">
    <div class="config-group">
      <button class="btn btn-success width-100" [disabled]="!isGameReady()" (click)="startGame()">
        {{'page.dartScoreBoard.setup.startGame' | translate}}
      </button>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
