.radio-button-group {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  background-color: #adadad;
}

.custom-input {
  margin-left: 0.5rem;
  height: 18px;
  width:50px;
}

.width-100 {
  width: 100%;
}

.minimal-advantage {
  margin-top: 1rem;
}

.no-padding {
  padding: 0;
}
