hr {
  margin: 0;
  color: black;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.no-padding {
  padding: 0;
}

.score-panel {
  padding: 0.5rem;
}

.score-entry-panel {
  height: 11rem !important;
  overflow-y: scroll;
}

.overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player-details-show {
  height: 16rem;
  overflow-y: scroll;
  transition: 500ms;
}

.player-details-hidden {
  height: 0;
  padding-top: 0;
  overflow-y: hidden;
  transition: 500ms;
}

.fixed-font-height {
  font-size: 16px;
}

.text-center {
  text-align: center;
}

.fixed{
  position: fixed;
  top: 0;
}

.arrow-container {
  position: absolute;
  left: 0;
  width: 0;
  top:0;
  height: 0;
  border-style: solid;
  border-width: 34px 0 34px 12px;
  border-color: transparent transparent transparent blue;
}

.menu-icon-inactive {
  transform: rotate(90deg);
  width: 16px;
  margin-top: -2px;
  margin-right: 0.5rem;
}

.menu-icon-active {
  transform: rotate(90deg);
  width: 24px;
  margin-top: -5px;
  margin-right: 0.5rem;
}

.upside-down {
  transform: rotate(270deg);
}
